{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delux Hotel</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'css/create_style.css' %}" rel="stylesheet">
</head>
<body>
    <h1 align="center">Welcome to Java Junction</h1>
    <div class="create-container">
        <form class="create-form" method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <label>Name</label>
        <input type="text" name="name" placeholder="Enter Hotel Name">
        <label>Price</label>
        <input type="number" name="price" placeholder="Enter price">
        <label>Details</label>
        <input type="text" name="detail" placeholder="Enter details">
        <label>Category</label>
        <input type="text" name="category" placeholder="Enter category">
        <label>Image</label>
        <input type="file" name="upload" accept="image/*">
        
        <input type="submit" value="submit">
        
</form>
</div>
<script src="{% static 'js\bootstrap.min.js' %}"> </script>

    <script src="{% static 'js\popper.js' %}"></script>
</body>
</html>